.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  padding: 1rem;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

.embla__slide img {
  max-width: 35rem;
  width: 100%;
  height: auto;
}
