.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 45vh; 
  background-color: black;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}

.embla__slide img {
  width: 100%;
  height: auto;
}
